<div class="container">
    <h1>Confirmation for Vendor!</h1>

    <form class="create-form" action="" method="post">


        <div class="form-group">
            <div class="row">
                <div class="col">
                    <ul class="list-group">
                        <li class="list-group-item mb-2 border border-primary">

                            <h3>Lease Details</h3>
                            <h5>Time Duration:
                                {{#each data}}
                                <h5>{{data.leaseDetails.to}}</h5>
                                {{/each}}
                            </h5>
                            <h5>Price ($):
                                {{#each data }}
                                <h5>{{data.leaseDetails.to}}</h5>
                                {{/each}}
                            </h5>
                            <h5>Payment frequency (Weekly/Monthly):
                                {{#each data }}
                                <h5>{{data.leaseDetails.to}}</h5>
                                {{/each}}
                            </h5>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="list-group">
                        <li class="list-group-item mb-2 border border-primary">

                            <h3>Parking spot details </h3>
                            <h5> Unit:
                                {{#each data}}
                                <h5>{{data.leaseDetails.to}}</h5>
                                {{/each}}
                            </h5>
                            <h5>Address:
                                {{#each data}}
                                <h5>{{data.leaseDetails.to}}</h5>
                                {{/each}}
                            </h5>
                            <h5>City:
                                {{#each data}}
                                <h5>{{data.leaseDetails.to}}</h5>
                                {{/each}}
                            </h5>
                            <h5>Postal Code:
                                {{#each data}}
                                <h5>{{data.leaseDetails.to}}</h5>
                                {{/each}}
                            </h5>
                        </li>
                    </ul>
                </div>

                <div class="col">
                    <ul class="list-group">
                        <li class="list-group-item mb-2 border border-primary">
                            <h3>Contact info </h3>
                            <h5> Name:
                                {{#each data}}
                                <h5>{{data.leaseDetails.to}}</h5>
                                {{/each}}
                            </h5>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </form>

</div>
<script src="../js/vendorConfirmation.js"></script>